/* REQUIRES: orientation_size.css */

/* TOC */
@page toc:left{
    @bottom-left{
        content: "Copyright © 2020-2020 Company Name";
        letter-spacing: 0.025em;
        color: #fff;
        border: none;
        background-color: #457b9d;
        font-size:18px;
        font-style: normal;
        font-weight: bold;
        
}
    @bottom-right {
        content: "";
        letter-spacing: 0.025em;
        border: none;
        background-color: #457b9d;
    }
}

@page toc:right{
    @bottom-left{
        content: "Copyright © 2020-2020 Company Name";
        letter-spacing: 0.025em;
        font-size:18px;
        color: #fff;
        border: none;
        background-color: #457b9d;
        font-style: normal;
        font-weight: bold;
        
}
    @bottom-right{
        content: "";
        letter-spacing: 0.025em;
        border: none;
        background-color: #457b9d;
    }
}

/* BODY */
@page:left{
    @top-right{
        content: "Company Name";
        letter-spacing: 0.025em;
        line-height: 1em;
        font-weight: bold;
        color: #457b9d;
        font-size: 18px;
    }
    @top-left{
        font-size: 18px;
        color: #457b9d;
        font-style: normal;
        font-weight: bold;
        text-transform: none;
        content: "{map.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
    @bottom-left{
        content: "";
        letter-spacing: 0.025em;
        color: #fff;
        font-style: normal;
        border: none;
        background-color: #457b9d;
        font-size: 18px;
        font-weight: bold;
    }
    @bottom-right {
        font-size: 18px;
        border: none;
        background-color: #457b9d;
        font-style: normal;
        font-weight: normal;        
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        content: counter(page);
    }
}

@page:right{
    @top-right{
        content: "Company Name";
        letter-spacing: 0.025em;
        line-height: 1em;
        font-weight: bold;
        color: #457b9d;
        font-size: 18px;
    }
    @top-left{
        font-size: 18px;
        color: #457b9d;
        font-style: normal;
        font-weight: bold;
        text-transform: none;
        content: "{map.title}";
        letter-spacing: 0.025em;
        line-height: 1em;
    }
    @bottom-left{
        content: "";
        letter-spacing: 0.025em;
        color: #fff;
        font-style: normal;
        border: none;
        background-color: #457b9d;
        font-size: 18px;
        font-weight: bold;
    }
    @bottom-right {
        font-size: 18px;
        border: none;
        background-color: #457b9d;
        font-style: normal;
        font-weight: normal;        
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        content: counter(page);
        letter-spacing: 0.025em;
    }
}
