/* Import icons/font. */
@font-face {
  font-family: icomoon;
  src: url("https://jorsek.github.io/pdfgen.github.io/fonts/note_icons/fonts/icomoon.ttf") format("truetype");
}
/* Style any note type. */
.note {
  clear: both;
  display: inline-block; /* block breaks notes before commands in steps and substeps. */
  border-left: 5px solid #404040;
  background-color: #dcdcdc;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  width: 100%;
}

/* Style note captions (the text and optional image preceding the note contents). */
.note__title {
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  vertical-align: top;
  display: inline-block;
  letter-spacing: 0.025em;
/* Style PNG icons preceding note captions
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAASCAYAAABfJS4tAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQ1IDc5LjE2MzQ5OSwgMjAxOC8wOC8xMy0xNjo0MDoyMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NjBGQUI1MDNBNzBDMTFFOTk2MTBDOUQxQzA1RTc2MzEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NjBGQUI1MDRBNzBDMTFFOTk2MTBDOUQxQzA1RTc2MzEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2MEZBQjUwMUE3MEMxMUU5OTYxMEM5RDFDMDVFNzYzMSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2MEZBQjUwMkE3MEMxMUU5OTYxMEM5RDFDMDVFNzYzMSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsUpC6YAAAHqSURBVHjapJS/S8NAFMfvkpQiFcVFGwd/4I9JHEUUQRTpIoqL4lARxCRFOlT/AOngJLSTGNNJHAoiFKogIoI/BzcHUQcnkRYEEYWiUpvzG3+1lSRGffByd+/e++Tx3t1R0uMn/5FgMOh+fnqaJ5SOEMZ2eJ6fWlTVO478UwBNGnxAKzGO5nT9WJHlZkGWpAlGyDw2KhyybqGiFotljQWldAHxHYgvfdtlrEknZFVgjEWwLHMIvaccN+j1el8kSYoA0gLyMNH1DozrWNd++F0IBVAVf0/aYik9B/Q6nU4vA+J/T5DtCS6XT9f1Nmgcpiu3260I+Rh6tqRpm3bcUChUAmgCtP4vI2OtL9nsIcfzfZqm9X6aHTdPmpwsz2QyW0XQvDQg20ShwRE4EAhUYdgFtMuiRHcUboUm4SeoLMt1uVxuG9NGC2iK4zifqqqnjjNWFKUFzTlCplbQS/Sm8zvUFozj1I667QNabeFygr0R/HjWbNM6Y8ZmLC8NpQf4jkHX4DP+OzAhNRbQDY/H40MJurGqtwq2A9eaQFdEURyKRqOPPzXd7lTcQF3QlKHI8MArinPhcJg5OaJUiu8zx1e6qAVswDg4xhwPEjXL+OHjvVDgrPzh5XwwrTGynDZuzp8eY+PGGfEm8irAAEicugW83HbNAAAAAElFTkSuQmCC');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 16px; 
  height: 16px;
  padding-left: 20.5px;
  */
}

/* Style the font containing icons preceding note captions. */
.note__title::before {
  display: inline-block;
  font-family: icomoon;
  font-size: 13px;
  padding-right: 3.5px;
}

/* Style the note element contents with the @type="note", @type="", and @type="trouble" attributes assigned. */
.note_note,
.note_trouble {
  border-color: #09afd6;
  background-color: #29b4d328;
}
.note_note>.note__title,
.note_trouble>.note__title {
  color: #09afd6;
}
.note_note > .note__title::before {
  content: "\e906";
}
.note_trouble > .note__title::before {
  content: "\e901";
}

/* Style the note element contents with the @type="tip" and @type="fastpath" attributes assigned. */
.note_tip,
.note_fastpath {
  border-color: #3f6c51;
  background-color: #3f6c512c;
}
.note_tip>.note__title,
.note_fastpath>.note__title {
  color: #3f6c51;
}
.note_tip > .note__title::before {
  content: "\e908";
}
.note_fastpath > .note__title::before {
  content: "\e905";
}

/* Style the note element contents with the @type="important", @type="remember", and @type="restriction" attributes assigned. */
.note_important,
.note_remember,
.note_restriction {
  border-color: #ffa600;
  background-color: #ffc25131;
}
.note_important>.note__title, 
.note_remember>.note__title, 
.note_restriction>.note__title {
  color: #ffa600;
}
.note_important > .note__title::before {
  content: "\e90a";
}
.note_remember > .note__title::before {
  content: "\e907";
}
.note_restriction > .note__title::before {
  content: "\e900";
}

/* Style the note element contents with the @type="attention" attributes assigned. */
.note_attention,
.note_caution,
.note_warning,
.note_danger {
  border-color: #d95700;
  background-color: #d9570027;
}

/* Style the note element contents with the @type="attention", @type="caution", @type="warning", and @type="danger" attributes assigned. */
.note_attention>.note__title,
.note_caution>.note__title,
.note_warning>.note__title,
.note_danger>.note__title {
  color: #d95700;
}
.note_danger {
  text-transform: uppercase;
}
.note_attention > .note__title::before {
  content: "\e902";
}
.note_caution > .note__title::before {
  content: "\e904";
}
.note_warning > .note__title::before {
  content: "\e909";
}
.note_danger > .note__title::before {
  content: "\e903";
}

/* Set consistent margins for notes in task topics. */
.stepresult > .note,
.info > .note,
.stepxmp > .note,
.example > .note,
.result > .note {
  margin: 5px 0px 10px 0px;
}

/* Fixes notes preceding commands position.
Reduces margins for notes in list items. */
.step > .note,
.substep > .note,
.li > .note {
  margin: 5px 0px 5px 0px;
}