/* Add image borders to image elements. */
.image,
.body img {
    border: 5px solid #000;
}

/* Disable image borders by assigning the @outputclass="no_borders" attribute to the image element. */
.no_borders {
    border: none;
}