/* COPYCAT - Remove Prince Code - START */
/* TABLE OF CONTENTS (TOC) NUMBERING */
/* Level 1 (chapter-level) TOC numbering. */
html {
  counter-reset: section_level1;
}
nav ul {
  counter-reset: toc_level1;
}
nav ul li:not(.topichead):before {
  counter-increment: toc_level1;
  content: "Chapter " counter(toc_level1) ". ";
}
nav ul ul {
  counter-reset: toc_level2;
}

/* Level 2 (subchapter-level) TOC numbering. */
nav ul li ul li:not(.topichead):before {
  counter-increment: toc_level2;
  content: counter(toc_level1) "." counter(toc_level2) ". ";
}
nav ul ul ul {
  counter-reset: toc_level3;
}

/* Level 3 TOC numbering. */
nav ul li ul li ul li:not(.topichead):before {
  counter-increment: toc_level3;
  content: counter(toc_level1) "." counter(toc_level2) "." counter(toc_level3)
    ". ";
}
nav ul ul ul ul {
  counter-reset: toc_level4;
}

/* Level 4 TOC numbering. */
nav ul li ul li ul li ul li:not(.topichead):before {
  counter-increment: toc_level4;
  content: counter(toc_level1) "." counter(toc_level2) "." counter(toc_level3)
    "." counter(toc_level4) ". ";
}
nav ul ul ul ul ul {
  counter-reset: toc_level5;
  content: none;
}

/* Level 5 TOC numbering. */
nav ul li ul li ul li ul li ul li:not(.topichead):before {
  counter-increment: toc_level5;
  /*content        : counter(toc_level1)"."counter(toc_level2)"."counter(toc_level3)"."counter(toc_level4)"."counter(toc_level5)". ";*/
  content: none; /* Removes level 5 topics (and deeper) from the table of contents */
}
/* COPYCAT - Remove Prince Code - END */
/***DOCUMENT BODY NUMBERING***/
/* Level 1 (chapter-level) topic title numbering. */
article > .topictitle1:before {
  counter-increment: section_level1;
  content: "Chapter " counter(section_level1) ". ";
}
article > .topictitle1 {
  counter-reset: section_level2;
}

/* Level 2 topic title (subchapter-level) numbering. */
.topictitle2::before {
  counter-increment: section_level2;
  content: counter(section_level1) "." counter(section_level2) ". ";
}
.topictitle2 {
  counter-reset: section_level3;
}

/* Level 3 topic title numbering.*/
.topictitle3::before {
  counter-increment: section_level3;
  content: counter(section_level1) "." counter(section_level2) "." counter(section_level3) ". ";
}
.topictitle3 {
  counter-reset: section_level4;
}

/* Level 4 topic title numbering. */
.topictitle4::before {
  counter-increment: section_level4;
  content: counter(section_level1) "." counter(section_level2) "." counter(section_level3) "." counter(section_level4) ". ";
}
.topictitle4 {
  counter-reset: section_level5;
}

/* Level 5 topic title numbering. */
.topictitle5::before {
  counter-increment: section_level5;
  content: counter(section_level1) "." counter(section_level2) "." counter(section_level3) "." counter(section_level4) "." counter(section_level5) ". ";
}
