/* Paste the following HTML code into the HTML Cover Page tab in the PDF Generator: ****************
<h1 class="cover-page-container">
    <div class="cover-page-content">
        <div class="title-text">{map.title}</div>
            <div class="bottom-stripe">
                <div class="logo-container">
                    <div class="logo">
                        <img src="https://github.com/Jorsek/pdfgen.github.io/blob/master/styles/gray_pdf/media/logo_placeholder.png?raw=true"/>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</h1>
********************************************************************************************/

/* Differentiate the cover page from the TOC and the document body. */
.cover-page-container {
  prince-page-group: start;
  page: cover_page;
  counter-reset: page 0;
}

/* Style the cover page.
Assert that the cover page size and orientation is never changed. */
@page cover_page {
  size: A4 portrait; /* Changing this property requires you to adjust padding for children elements. Please, see the comments below. */
  margin: 0px;
  padding: 0px;
}

/* Make the cover-page-container (h1) fills up the whole cover page.
NOTE: You may need to adjust the padding property for cover page size and orientation different than A4 portrait. */
.cover-page-container {
  display: block;
  clear: both;
  background-color: #6f6f6f;
  padding: 0px 0px 1002px 0px;
}

/* Apply the typography settings to the cover page. */
.cover-page-container * {
  font-family: "Roboto", Helvetica, Arial;
}

/* Define the space where the title can be placed.
NOTE: You may need to adjust the padding, height, and margin properties for cover page size and orientation different than A4 portrait. */
.cover-page-content {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 0mm 15mm 0mm 15mm;
  margin-bottom: 25%; /* Should match the margin-top property in the .title-text selector. */
  height: 923px; /* Should match the height property in the .title-text selector. */
}

/* Style the cover page title. 
NOTE: You may need to adjust the height property for cover page size and orientation different than A4 portrait. */
.title-text {
  display: block;
  clear: both;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  font-size: 80px;
  line-height: 90px;
  height: 923px; /* Should match the height property in the .cover-page-content selector. */
  margin-top: 25%; /* Should match the margin-bottom property in the .cover-page-content selector. */
  word-wrap: normal; /* Should you need to wrap long words, set to break-word */
  letter-spacing: 0.025em;
}

/* Style the bottom area of the cover. */
.bottom-stripe {
  position: absolute;
  bottom: 0px;
  display: block;
  clear: both;
  background-color: #fff;
  height: 200px;
  width: 100%;
  margin: 0mm 0mm 0mm -15mm;
  padding: 0mm 15mm 0mm 15mm;
}

/* Define the space where a logo can be placed. 
NOTE: You may need to adjust the padding, margin, bottom, right, height, and width properties for a cover page size and orientation different than A4 portrait. */
.logo-container {
  display: block;
  clear: both;
  position: absolute;
  padding: 0px;
  margin: 0px;
  bottom: 25px;
  right: 15mm;
  height: 150px;
  width: 350px;
}

/* Define where the actual logo is placed in the <div class="logo-container"> */
.logo {
  display: block;
  float: right;
}