
/****  ELEMENT STYLE *****/
/*  shortdescribtion */
p.shortdesc{font-style: italic; font-size:1rem; border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc; margin: 15px auto 20px auto; line-height: 20px; padding: 15px 0px;}

/* IMAGES *********/
.image{border: solid 1px #ccc; padding: 15px; margin: 20px;}


/* COVER PAGE *********/
html, body { height: 100%; width: 100%;}
* {font-family: "'Roboto", Helvetica, Arial !important;}
html {margin-right: 2000px;}
.coverPageContainer {width: 100%; height: 100%}
.centeredContainer {height: 100%; width: 100%; display: table; margin: 0px;padding: 0px;}
.centeredContainer .centered {
  display: table-cell;vertical-align: middle; text-align: center;}
/* Title style */
.coverPage-title {font-family: "'Roboto", Helvetica, Arial; border-top: solid 5px #aaa; border-bottom: solid 5px #aaa; padding: 35px 0px; font-size: 2.6rem; text-align: center; line-height: 3.2rem; }
/* END COVER PAGE *********/



/* TABLE CONTENT *********/
nav {
page-break-after: always; padding-top: 80px ; 
}
nav::before { content: "Contents"; font-size: 2rem; color: #ccc;
}
nav a::after {
  content: leader(".") target-counter(attr(href), page); margin-left:10px ;}
nav a { color:#404040; text-decoration: none;}
nav ul { margin-left: 20px;}
nav li {
  list-style-type: none; padding: 10px 0px; font-size: 1.2rem; font-style: italic;
}
nav li:first-child{margin-top: 20px;}
/* END TABLE CONTENT *********/



/* HEADER AND FOOTER *********/
@page {
  font-family: "Roboto", Helvetica, Arial;
  size: a4;
  /* marks: crop cross; */
  margin: 80px 55px;
  /* margin-left: 20mm;
  margin-right: 20mm; */

  /* Header ***/
  @top-left {
    content: "User Guide";
    font-size: .9rem; 
    margin: -21mm -15mm; padding: 20px;
   color:  #7c8d99; font-weight: bold;
   text-transform: uppercase; letter-spacing: 1px;
  }

  @top-right {
    content: "Jorsek";
    font-size: .9rem;
    margin: -21mm -15mm;
    padding: 20px; color: #aaa;
    text-transform: uppercase; letter-spacing: 1px;
  }

/* Footer page***/
 /* @bottom {
    content: " "; float: left; display: flex;
  }*/
  @bottom-right {
    font-size:1.2rem; font-weight: bold; border-top: solid 1px #d8d8d8; 
    margin: 0 -15mm;
    content: counter(page);
    background-color:#fff;
    color:  #7c8d99;
    padding: 20px;
  }
  @bottom-left {
    font-size:.9rem; border-top: solid 1px #ccc; 
    margin: 0 -15mm;
    content: "Copyright © 2004-2018 Jorsek LLC.";
    background-color: #fff;
    color: #aaa; font-style: italic;
    padding-left: 20px;  letter-spacing: 1px;
  }
}
/* END HEADER AND FOOTER *********/
