/* 
 * Font: Roboto
 * headings:
 *  - H1: normal weight, 2rem
 *  - H2: bold, 1.5rem
 *  - H3: bold, 1.3rem
 * 
 */

/* google font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

/*---------------------------------------- DEFAULT STYLE -------------------------------------------  */
/* GLOBAL Typography setting *********/
body, ul, ol, li, h1, h2, div{margin: 0px; padding: 0px; clear: both;}
body {
color: #404040; font-family: 'Roboto', sans-serif;font-weight: 300;
 line-height: 1.5em; 
}
/*  Heading styling */
/*h1, h1 span {
  color: #404040;
  font-weight: 300; font-size: 2rem;
  padding: 30px 0px 10px 0px;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-bottom: .5em;
  margin-top: 0;
}
/*
h2{font-size: 1.5rem; font-weight: bold; margin:12px 0px}
h3{font-size: 1.3rem; font-weight: bold; margin:10px 0px}
*/

/*h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}*/

h1 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.35;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.4;
}




.title{display: block;}
section>.title{
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight:400;
  border-bottom:1px solid;
}

/*  Paragraph styling */
div.p, p{padding: 0px;margin: 10px 0px 0px 0px; display: block; prince-footnote-policy: keep-with-line;}

/*  Footnotes styling */
.fn {
  float: footnote;
  font-size: 83%;
}

.fn::footnote-call {
  content: "[" counter(footnote) "]";
  font-size: 83%;
  vertical-align: super;
  line-height: none;
}

.fn::footnote-marker {
  font-weight: bold;
}
/* END GLOBAL Typography setting *********/
/*---------------------------------------- END DEFAULT STYLE -------------------------------------------  */


/*---------------------------------------- BASIC STYLE -------------------------------------------  */


/*---------------------------------------- END BASIC STYLE -------------------------------------------  */
