
/* AVOID PAGE BREAK ELEMENT ****/
@media print {
dl, dt, dd{page-break-inside: avoid;} 
}

/* default */
dl.dl{margin: 20px;padding: 0px;}
dl dt.dt{position: relative; padding: 15px 0px 0px 20px; width: 15%; font-weight: bold; float: left;}
dl dd.dd{border-left: 1px solid #ccc; margin: 2% 0% 2% 17%; padding: 0px 20px;}

/* Nested default */
dl.default_nested{ margin: 20px 0px; padding: 0px; }
.default_nested dt{ width: 450px !important; color: #404040; font-weight: bold; text-align: left;background-color: #f7f7f7;; border-left: 1px solid #DBD8D8; border-right: 1px solid #DBD8D8; border-top: 1px solid #DBD8D8; font-size: .9rem; display:inline-block;}

.default_nested dd{ width: 430px; text-align: left; padding-top: 10px !important; padding-bottom:10px !important; left: -42px; top: -10px; position: relative;  border-left: 1px solid #DBD8D8; border-right: 1px solid #DBD8D8; border-bottom: 1px solid #DBD8D8; font-size: .9rem; display: inline-block; overflow: auto; line-height: 1.3rem;}
/* end Nested default */


/* !!!!! NEEDS CLEAN UP !!!!! */

/* DEFINATION LIST-----*/
.dl {margin: 20px; padding: 0px;}
.dt {position: relative; padding: 15px 0px 0px 20px; width: 15%; font-weight: bold; float: left;}
.dd { border-left: 1px solid #ccc; margin: 2% 0% 2% 17%; padding: 0px 20px;
vertical-align: top;}

/* Nested default */
.dl .default_nested{ margin: 20px 0px; padding: 0px; display: block;}
.default_nested dt{ width: 100px !important;; border-left: 2px solid #DBD8D8; border-top:none;  overflow: auto;display: block;  padding: 5px 15px 5px 10px !important; margin-bottom: 20px; clear: both;}
.default_nested dd{ width: 400px; border:none; display: block; padding: 15px 0px !important; vertical-align: top;}
/* end Nested default */
/*  END DEFINATION LIST-----*/