
/* CHOICE TABLE*********/
.choicetable{border-collapse: collapse;  border: solid 1px #ccc; left: -50px; position: relative;}
.choicetable th{font-weight: bold; padding: 10px; background-color: #fff; border: none;}
.choicetable tr:nth-child(odd){background-color: #f1f2f3;}
.choicetable tr:last-child{border-bottom: solid 1px #f1f2f3;}
.choicetable tr{border: none;}
.choicetable td{padding: 10px; vertical-align: top; border: none;}
/* Nested in step */
.step:first-child>.choicetable{left: -50px; position: relative;}
.step>.choicetable{left: -115px; position: relative;}
.step>.fixed_table{left: -150px; position: relative;}
/* END CHOICE TABLE*********/