
/*---CONTEXT-------*/
.context{font-weight: normal; font-size: 1.1rem; border-left: solid 5px #f1f2f3; padding-left: 10px;}
/*---END CONTEXT-------*/


/* SECTION RESULT *********/
.result{margin: 5px 0px 0px 40px; border: solid 2px #ccc; padding: 10px; -webkit-border-radius: 5px; border-radius: 5px;}
/* ---vertical style -------
/* END SECTION RESULT *********/
