@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/layout/orientation_size.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/layout/breaks.css");

/* STYLING ****************************************************************/
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/table_of_contents.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/figure_no_numbering.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/table_no_numbering.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/hide_empty_elements.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/styling/formatting.css");

/* DITA *******************************************************************/
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/footnote.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/paragraph.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/filepath_sysoutput_userinput_varname.css"); 
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/uicontrol_wintitle_shortcut_menucascade.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/abstract_shortdesc.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/note.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/xref_related_links.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/codeblock_codeph.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/figure_image.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/description.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/definition_list.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/cite_long_quote_quote.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/title.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/section.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/ordered_list_unordered_list_step_substep_choice.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/cause_condition_context_example_postreq_prereq_remedy_result_steps_stepsection.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/choices_info_stepresult_stepexample_solution_substeps_troublesolution.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/choices_steps_substeps_numbering.css");
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/dita/choicetable_table.css");

/* Palette ******************************************************************/
@import url("https://jorsek.github.io/pdfgen.github.io/styles1.1/modules/palette/jorsek.css");

/*** Typography - START */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@page {
    font-family: 'Open Sans', sans-serif;
}
body,
article,
.body * {
  /*color: #29333D;*/
  font-family: 'Open Sans', sans-serif;  
  font-weight: normal;
  line-height: 1.5em;
  font-style: normal;
  text-align: left;
  font-size: 14px;
}
strong.b,
strong.b * {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}
em.i,
em.i * {
  font-style: italic;
  font-family: inherit;
  font-size: inherit;
}
/*** Typography - END */

/*** Breaks - START */
.topictitle1 {
  page-break-before: always;
}
/*** Breaks - END */

/*** Cover Page - START */
.cover-page-container {
  prince-page-group: start;
  page: cover_page;
  counter-reset: page 0;
  background-color: transparent;
}
@page cover_page {
  size: A4 portrait;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  background-image: url("https://jorsek.github.io/pdfgen.github.io/shared_images/sphere_pdf_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

div.cover-page-content {
    width: 100%;
    margin-top: 50%;
}
div.title-text {
  color:  #003749;
  background: transparent;
  font-size: 54px;
  font-weight: bold;
  line-height: 65px;
  padding: 0 15mm;
  text-align: center;
}
div#logo-container {
    padding-top: 35px;
    width: 100%;
  background-color: transparent;
}
img#logo {
    width: 100px;
  background-color: transparent;
}
/*** Cover Page - END */

/*** Orientation and Size - START */
.section {
  margin: 15px 0px 0px 0px !important;
}
article:has(.topictitle1) {
    margin: 120px 100px;
}
/*** Orientation and Size - END */

/*** Titles - START */
.title {
    border-top: 1px solid black;
    padding-top: 10px;
}

.title {
    margin-top: 10px;
    color: #29333D;
}

.topictitle1,
.topictitle1 * {
    font-weight: 900;
    font-size: 54px;
}

.topictitle1 {
    margin-bottom: 10px;
    margin-top: 0px;
}
.topictitle2,
.topictitle2 * {
  font-size: 36px;
}
.topictitle3,
.topictitle3 * {
  font-size: 28px;
}
.topictitle4,
.topictitle4 *,
.topictitle5,
.topictitle5 *,
.topictitle6,
.topictitle6 *,
.topictitle7,
.topictitle7 *,
.topictitle8,
.topictitle8 *,
.topictitle9,
.topictitle9 *,
.sectiontitle,
.sectiontitle * {
    font-size: 24px;
}
.sectiontitle {
    margin-bottom: 50px;
    margin-top: 50px;
}
/*** Titles - END */

/*** Elements - Start */
.li, .p {
    margin: 10px 0px 0px 0px;
}
.xref {
    text-decoration: underline;
    color: #09afd6  ;
}
/*** Elements - Stop */

/*** Quote, cite, long quote - START */
.cite, .lq, span.q {
    display: block;
    margin: 5px 0 0 0;
}

.cite {
    font-style: normal;
    font-weight: normal;
    color: #404040;
    border: solid 1px #404040;
    padding: 5px 30px 5px 30px;
}

.lq {
    border-left: 10px solid #003749;
    padding-left: 30px;
}

span.q {
    color: #545454;
    font-style: italic;
    font-weight: bold;
    padding-left: 30px;
}

/* If a block element is placed in a paragraph, discard the paragraph margins. */
.p:has(.note:only-child, .codeblock:first-child, .fig:first-child, .image:first-child, .lq:first-child, span.q:first-child, .cite:first-child, table:first-child, dl:first-child) {
  margin: 0;
}

/*** Quote, cite, long quote - END */

/* Prevent large images from overflowing. */
img {
  max-width: 100%;
}

