/* Position the definition list. */
dl {
  display: block;
  clear: both;
  margin: 10px 0px 0px 0px;
}

/* Add a border on the left of definition terms and definition descriptions. */
dt,
dd {
  border-left: solid 5px #dcdcdc;
  padding: 0px 10px 0px 10px;
}

/* Style titles in definition lists.
Assert the same styling in definition titles and their children elements. */
dt,
dt * {
  color: #242424 !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 16px;
  letter-spacing: 0.025em;
}

/* Style definition descriptions. */
dd {
  margin: 0px;
  margin-bottom: 20px;
  margin-top: -2px; /* This ensures correct border transition. */
}

/* Ensure correct border transition. */
.dd > pre.codeblock {
  margin: 0px;
  padding: 10px 0px 10px 0px;
  }
.dd > p,
.dd> .p {
    margin: 0px;
    padding: 5px 0px 0px 0px;
}