/* Position section elements. */
.section {
  margin: 25px 0px 0px 0px;
}
.sectiontitle {
  margin: 0px !important;
  padding: 0px !important;
}

/* Reduce margins before sections after remedy titles. */
.remedy > .title ~ section {
  margin-top: 5px;
}