/* Ensure that tables and choicetables span across the whole space available. */
table {
  width: 100%; /* 100% shows a vertical scrollbar on sites. */
  margin: 5px 0px 5px 0px;
  table-layout: auto;
}

/* Remove the table and choicetable borders completely. */
table,
table * {
  border-collapse: collapse;
  border: none !important; /* needed to overwrite the default site styling. */
  text-align: left;
}

/* Add a top-border for tables that do not contain thead elements. */
table {
  border-top: 3px solid #000 !important; /* The important property seems to be needed to overwrite the default SSG styling */
  border-bottom: 3px solid #000 !important; /* The important property seems to be needed to overwrite the default SSG styling */
}
table:has(thead) {
  border-top: none;
}

/* Set padding for table entries. */
td {
  padding: 10px;
}

/* Style the table and choicetable headers. 
Assert the same styling in table and choicetable headers and their children elements. */
tr,
th,
th * {
  font-weight: bold !important; /* The important property seems to be needed to overwrite the default PDF Gen and SSG styling */
  color: #fff !important; /* The important property seems to be needed to overwrite the default PDF Gen and SSG styling */
  background-color: #000;
  padding: 10px;
  letter-spacing: 0.5px;
}
th,
th *,
th > .fn::footnote-call {
  font-weight: bold;
  color: #fff;
  background-color: #000;
}

/* Style uneven table and choicetable rows. */
tr:nth-child(odd) > td {
  background-color: #fff;
  vertical-align: top;
}

/* Style even table and choicetable rows. */
tr > td {
  background-color: #F4F4F4;
  vertical-align: top;
}

/* Support text alignment in tables */
table .align-right {
    text-align: right !important;
}
table .align-center { 
    text-align: center !important;
}
table .align-left {
    text-align: left !important;
}
table .align-justify {
    text-align: justify !important;
}
